<?xml version="1.0"?>
<appSettings>
  <add key="authorityServerHost" value="ibankretailqa.nbg.gr" />
  <add key="authorityResourceName" value="identityserver" />
  <add key="clientId" value="" />
  <add key="clientSecret" value="" />
  <add key="requiredScope" value="" />
  <add key="owin:AutomaticAppStartup" value="true" />
  </appSettings>