<?xml version="1.0"?>
<system.diagnostics>
  <trace autoflush="true" />
  <sources>
    <source name="NameApiSource" switchName="NameApiSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <clear />
        <add name="NameApilistener" />
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <!--event viewer-->
    <!--powershell command: new-eventlog -source NameApi -logname NameApi-->
    <add name="NameApilistener"
         type="System.Diagnostics.EventLogTraceListener"
         initializeData="NameApi" />
  </sharedListeners>
  <switches>
    <add name="NameApiSwitch" value="Information" />
  </switches>
</system.diagnostics>